.col-border-full {
    border-right: 2px solid #dee2e6; 
    padding-right: 15px; 
  }
  @media (min-width: 992px) {
    .col-lg-4.col-6.mb-4.col-border {
      border-right: 2px solid #dee2e6; 
      padding-right: 15px; 
    }
  }
  @media (max-width: 992px) {
    .col-6.mb-4.col-border-small {
      border-right: 2px solid #dee2e6; 
      padding-right: 15px; 
    }
  }



  